# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Media and Generated Data
audios/
resumenes/
memoria_ia/

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
papelera_audios/
exportaciones/
settings.json
materias.json
stats.json
